<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="3.1"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd "
>
    <display-name>walmart-logistics</display-name>

    <!-- SPRING CONTEXT LOADER LISTENER -->
    <!--
        commented because dispatcherServlet already
        got the file configuration directives
     -->
    <!--<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/application-context.xml
            /WEB-INF/database/database-context.xml
        </param-value>
    </context-param>-->

    <!-- SPRING BEAN PROFILES -->
    <!-- PROFILE 'hibernate' ACTIVATES HIBERNATE AS JPA PROVIDER -->
    <!-- PROFILE 'eclipselink' ACTIVATES ECLIPSELINK AS JPA PROVIDER -->
    <!-- OTHER PROFILES CAN BE ACTIVATED USING COMMA, LIKE THIS: 'p1,p2,p3' -->
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>hibernate</param-value>
    </context-param>

    <!-- SPRING WEB DISPATCHER SERVLET -->
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/application-context.xml
                /WEB-INF/database/database-context.xml
            </param-value>
        </init-param>

        <init-param>
            <param-name>spring.profiles.active</param-name>
            <param-value>hibernate</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- SESSION CONFIGURATION -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- WELCOME FILE LIST -->
    <welcome-file-list>
        <welcome-file>views/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
